@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.header nav {
  height: 70px;
}
.banner {
  /* height: 100vh; */
  margin-top: 70px;
}
.writing {
  background: url(../img/background.png) no-repeat center center;
  background-color: rgba(0, 0, 0, 0.459);
  background-blend-mode: overlay;
}
